.hero {
  position: relative;
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  align-items: center;
}

.hero-name {
  font-size: 20px;
  font-weight: bold;
}

.hero-nav {
  display: flex;
  gap: 24px;
  padding: 10px 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 999px;
}

.hero-nav a {
  color: #fff;
  font-size: 16px;
}

.hero-center {
  height: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decoder-text {
  font-size: 250px;
  letter-spacing: -13px;
  font-family: "Solemn Sojourn", serif;
}

.decoder-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}

.hero-bottomBox {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 30px 0;
}

.hero-bottom {
  font-size: 12px;
  width: 69%;
  opacity: 0.8;
  text-align: start;
  display: flex;
  margin: auto;
}

.hero-bottom.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-bottom.right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.guide.vertical {
  position: absolute;
  left: 6%;
  top: 0;
  width: 1px;
  height: 100%;
  background: white;
}
