.keyword {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Instrument Sans", sans-serif;
  overflow: hidden;
  height: 135vh;
  padding-top: 180px;
}

.section-label {
  font-size: 25px;
  color: #646464;
  margin-bottom: 140px;
}

.keyword-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword-text-group {
  text-align: center;
  z-index: 2;
}

.kw-item {
  font-size: 96px;
  font-weight: normal;
  margin: 50px 0;
  letter-spacing: -4px;
  position: relative;
  line-height: 1;
}

.kw-item.light {
  color: #9e9e9e;
}
.kw-item.dark {
  color: #0b0b0b;
}
.kw-item.italic {
  font-style: italic;
}

.badge {
  position: absolute;
  font-size: 25px;
  font-style: normal;
  padding: 7px 28px;
  font-weight: 500;
  top: -15px;
}

.badge.purple {
  background-color: #deaaff;
  color: #000;
  right: 20px;
  transform: rotate(10deg);
}

.badge.yellow {
  background-color: #fccf00;
  color: #000;
  left: 100px;
  transform: rotate(-10deg);
}

.photo-box {
  position: absolute;
}

.photo-box img {
  width: 100%;
  display: block;
}

.photo-1 {
  top: -35%;
  left: 14%;
}
.photo-2 {
  top: -25%;
  right: 15%;
}
.photo-3 {
  top: 25%;
  left: 8%;
}
.photo-4 {
  top: 35%;
  right: 5%;
}
.photo-5 {
  bottom: -5%;
  left: 15%;
}
.photo-6 {
  bottom: -25%;
  right: 18%;
}
