.hobby {
  background-color: white;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  overflow: hidden;
  height: 135vh;
}

.hobby .title-container {
  width: 950px;
  margin-top: 220px;
  margin-left: 129px;
  margin-bottom: 175px;
}

.hobby .title-container .sub-title {
  color: #0d0d0d;
}

.hobby .title-container .title {
  color: #0d0d0d;
  display: inline;
}

.hobby .title-container .title.deco {
  color: #9e9e9e;
  font-size: 65px;
  font-weight: normal;
}

.hobby-header {
  text-align: center;
  margin-bottom: 60px;
}

.hobby-header .label {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.hobby-title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin: 0;
  line-height: 1.2;
}

.hobby-title.light {
  color: #bbb;
}

.hobby-slider-container {
  width: 100%;
  padding: 0 5%;
}

.hobby-track {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hobby-img-wrapper img {
  margin-bottom: 30px;
}

.hobby-info .item-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #000;
  text-align: start;
}

.hobby-info .item-desc {
  font-size: 20px;
  color: #9c9c9c;
  text-align: start;
}
