.skill {
  background-color: white;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  height: 120vh;
}

.header-left .sub-title {
  color: #0b0b0b;
}

.header-left .title {
  color: #0b0b0b;
  width: 500px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
  padding: 0 129px;
  padding-top: 200px;
}

.header-right {
  text-align: right;
  margin-top: 15px;
}

.header-right .sub-phrase {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 1;
  color: #0c0c0c;
  font-weight: normal;
  margin-bottom: 15px;
}

.header-right .sub-desc {
  font-size: 23px;
  font-weight: normal;
  color: #9e9e9e;
}

.highlight.purple {
  color: #deaaff;
  font-weight: 500;
}
.highlight.yellow {
  color: #fccf00;
  font-weight: 500;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.skill-card {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.sub-card {
  width: 180px;
  height: 180px;
  background-color: #f5f5f5;
}

.sub-card .skill-name {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.main-card {
  width: 260px;
  height: 400px;
  background-color: #1a1a1a;
  padding: 30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.main-card .icon-box img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.main-card .main-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #ccc;
  word-break: keep-all;
}

.skill-card:hover {
  transform: translateY(-10px);
}
