.video-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  margin: 0;
  position: relative;
  border-bottom: 1px solid white;
}

.video-frame {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  border-radius: 40px;
  overflow: hidden;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.7);
}

.guide.vertical {
  position: absolute;
  left: 6%;
  top: 0;
  width: 1px;
  height: 100%;
  background: white;
}
