.main-button {
  background-color: var(--orange);
  color: #fff;
  border: none;
  padding: 15px 23px;
  border-radius: 50px;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  cursor: pointer;
}
