.title-container {
  text-align: start;
}

.sub-title {
  color: white;
  font-size: 25px;
  letter-spacing: -1px;
  display: block;
  margin-bottom: 16px;
}

.title {
  color: #9e9e9e;
  font-size: 90px;
  line-height: 1;
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  font-weight: 500;
  letter-spacing: -5px;
}

.title.deco {
  color: white;
}
