.gallery {
  height: 110vh;
  justify-content: center;
  background-image: url("/public/img/bg.svg");
  padding: 150px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-label {
  font-size: 20px;
  opacity: 0.8;
}

.main-display-title {
  font-size: 156px;
  font-weight: 500;
  line-height: 0.95;
  margin-bottom: 48px;
}

.bottom-description {
  font-size: 20px;
  line-height: 1.6;
}
