.project {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 129px;
  box-sizing: border-box;
}

.project .title {
  color: #0b0b0b;
  margin-bottom: 123px;
  white-space: pre-line;
  text-transform: uppercase;
}
.project .sub-title {
  color: #646464;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: pre-line;
  width: 100%;
}
.project-info {
  text-align: start;
}

strong {
  font-size: 24px;
  color: #0b0b0b;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.duration-text {
  font-size: 18px;
  font-weight: 500;
  color: #9e9e9e;
  margin-bottom: 40px;
}

.role-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.detail-text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.7;
  color: #9e9e9e;
}

.button-group {
  margin-top: 2.5rem;
  display: flex;
  gap: 12px;
}

.project .main-button {
  font-size: 14px;
  color: white;
  background: #4e4e4e;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}
/* 이미지들을 담는 우측 전체 영역 */
.image-display-area {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .image-wrapper {
  position: absolute;
}

.project .image-wrapper:nth-child(1) {
  z-index: 1;
  transform: translate(-10%, -20%);
}

.project .image-wrapper:nth-child(2) {
  z-index: 2;
  transform: translate(20%, 50%);
}

.project .image-wrapper:nth-child(3) {
  z-index: 3;
  transform: translate(-105%, 268%);
}
